<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">View Contact</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque repudiandae excepturi laborum aperiam iusto exercitationem perspiciatis architecto. Quibusdam rem odit saepe molestiae, maiores pariatur, distinctio quasi temporibus animi aspernatur harum?</p>
        </div>
    </div>
</div>

<!----------Spinner & Error Message section------------->


<!--Loading Spinner-->

<div *ngIf="loading">

    <app-spinner></app-spinner>
</div>

<!--Error message-->

<div *ngIf="!loading && errorMessage">
<div class="container">
    <div class="row">
        <div class="col">
            <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
        </div>
    </div>
</div>
</div>

<!--------------------------------------------------------Contact Details--------------------------->
<div  *ngIf="!loading && isNotEmpty()" class="container">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img [src]="contact.photo" class="contact-image-big">
        </div>
        <div class="col-sm-6">

            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name: <span class="fw-bold">{{contact.name}}</span></li>
                <li class="list-group-item list-group-item-danger">Email:<span class="fw-bold">{{contact.email}}</span></li>
                <li class="list-group-item list-group-item-danger">Mobile:<span class="fw-bold">{{contact.mobile}}</span></li>
                <li class="list-group-item list-group-item-danger">Company:<span class="fw-bold">{{contact.company}}</span></li>
                <li class="list-group-item list-group-item-danger">Title:<span class="fw-bold">{{contact.title}}</span></li>
                <li class="list-group-item list-group-item-danger">Group Name:<span class="fw-bold">{{group.name}}</span></li>
                
                
            </ul>


        </div>
    </div>

<!-------------------------------End of Main Section In this Page--------------->

    <div class="row">
        <div class="col">
            <a class="btn btn-danger" routerLink="/">
                <i class="fa fa-arrow-alt-circle-left"></i> Back</a>
        </div>
    </div>
</div>