<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">View Contact</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque repudiandae excepturi laborum aperiam iusto exercitationem perspiciatis architecto. Quibusdam rem odit saepe molestiae, maiores pariatur, distinctio quasi temporibus animi aspernatur harum?</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRr0YlatAy-hrNCQjzZ7fqDzNiXt7HGmzVaA&usqp=CAU" class="contact-image-big">
        </div>
        <div class="col-sm-6">

            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name: <span class="fw-bold">name</span></li>
                <li class="list-group-item list-group-item-danger">Email:<span class="fw-bold">Email</span></li>
                <li class="list-group-item list-group-item-danger">Mobile:<span class="fw-bold">mobile</span></li>
                <li class="list-group-item list-group-item-danger">Company:<span class="fw-bold">mobile</span></li>
                <li class="list-group-item list-group-item-danger">Title:<span class="fw-bold">mobile</span></li>
                <li class="list-group-item list-group-item-danger">Group Name:<span class="fw-bold">mobile</span></li>
                
                
            </ul>


        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-danger" routerLink="/">
                <i class="fa fa-arrow-alt-circle-left"></i> Back</a>
        </div>
    </div>
</div>