<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque repudiandae excepturi laborum aperiam iusto exercitationem perspiciatis architecto. Quibusdam rem odit saepe molestiae, maiores pariatur, distinctio quasi temporibus animi aspernatur harum?</p>
        </div>
    </div>
</div>




<!--Create contact form-->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="onSubmitUpdate()">
                <div class="mb-2">
                    <input required="true" [(ngModel)]="contact.name" [value]="contact.name" name="name" type="text" placeholder="Name" class="form-control">
                </div>
                <div class="mb-2">
                    <input  required="true"  [(ngModel)]="contact.photo" [value]="contact.photo" name="photo"  type="text" placeholder="photo URL" class="form-control">
                </div>
                <div class="mb-2">
                    <input  required="true" [(ngModel)]="contact.email" [value]="contact.email" name="email"  type="text" placeholder="Email" class="form-control">
                </div>
                <div class="mb-2">
                    <input  required="true" [(ngModel)]="contact.mobile" [value]="contact.mobile" name="mobile"  type="text" placeholder="Mobile" class="form-control">
                </div>
                <div class="mb-2">
                    <input  required="true"  [(ngModel)]="contact.company" [value]="contact.company" name="Company"  type="text" placeholder="Company" class="form-control">
                </div>
                <div class="mb-2">
                    <input  required="true"  [(ngModel)]="contact.title" [value]="contact.title" name="title"  type="text" placeholder="Title" class="form-control">
                </div>
                <div class="mb-2">
                 <select class="form-control">
                    <option value="">Select a Group</option>
                    <option [value]="group.id" *ngFor="let group of groups ">{{group.name}}</option>
                 </select>
                </div>
                <div class="mb-2">
                    <input type="submit" value="Update" class="btn btn-danger">
                    <a class="btn btn-dark" routerLink="/">Close</a>
                </div>
             
               

            </form>
        </div>

        <div class="col-sm-4">
            <img [src]="contact.photo" class="contact-image">
        </div>
    </div>
</div>